<div id="search-component">
    <label for="search-box">Hero Search</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />  <!--#searchbox serve a dare un name alla searchBox-->
  
    <ul class="search-result">
      <li *ngFor="let hero of heroes$ | async" >    <!--$ dopo heroes è una convenzione ma non è obbligatorio usarla-->
        <a routerLink="/detail/{{hero.id}}">
          {{hero.name}}
        </a>
      </li>
    </ul>
  </div>
<!--ASYNC vuol dire che il campo heroes potrebbe arrivargli dopo qualche secondo e non immediatamente-->